@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "seolleimcool-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.mbt-100 {
  margin: 100px 0 !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  list-style: none;
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 99999;
}

.small_font {
  font-size: 16px;
}

.B_small_font {
  font-size: 22px;
}

header {
  font-family: "seolleimcool-SemiBold";
  background-color: transparent;
  font-size: 20px;
  padding: 0.5rem;
  z-index: 999999;
  color: #1B1B1B;
}
header .navBtn {
  width: 35px;
  height: 30px;
  background: transparent;
  border: 0;
  position: relative;
}
header .navBtn i {
  position: absolute;
  z-index: 99999;
  background-color: #1B1B1B;
  display: block;
  width: 95%;
  height: 1.8px;
  transition: 0.5s;
  background-color: #FFFEF1;
}
header .navBtn i:nth-child(1) {
  top: 0;
}
header .navBtn i:nth-child(2) {
  top: 50%;
}
header .navBtn i:nth-child(3) {
  bottom: 0;
}
header .navBtn.act i:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
header .navBtn.act i:nth-child(2) {
  opacity: 0;
}
header .navBtn.act i:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
header ul {
  margin-bottom: 0;
}
header .navmn li {
  margin: 15px;
}
header .icoBox li {
  margin: 15px;
}
header .icoBox li img {
  width: 20px;
}
header .icoBox .userIco img {
  width: 24px;
}
@media (max-width: 992px) {
  header .navBtn i {
    background-color: #1B1B1B;
  }
  header .navmn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFFEF1;
    height: 500px;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
  }
  header .navmn.Bclick {
    min-height: 500px;
    padding: 5rem 2rem;
    width: 50%;
    opacity: 1;
  }
  header .navmn li {
    border-bottom: 1px solid #1B1B1B;
  }
  header .navmn li a {
    display: block;
    width: 100px;
  }
}

.jyySwiper {
  font-family: "Noto Sans KR", sans-serif;
}
.jyySwiper .imgBox img {
  width: 100%;
}
.jyySwiper .swiper-pagination {
  display: block;
  align-items: center;
  bottom: 16px !important;
}
.jyySwiper .swiper-pagination .dot {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: 2px solid #FFFEF1;
  background-color: #FFFEF1;
  opacity: 1;
}
.jyySwiper .swiper-pagination .swiper-pagination-bullet-active.dot {
  width: 13px;
  height: 13px;
  background-color: transparent;
  line-height: 5px;
}
.jyySwiper .descBox strong {
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 400;
}
.jyySwiper .descBox p {
  font-size: 20px;
  font-weight: 300;
}
.jyySwiper .btnBox .swiperNB,
.jyySwiper .btnBox .swiperPB {
  height: auto;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  align-items: center;
  display: flex;
  z-index: 99999;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
  color: #FFFEF1;
}
.jyySwiper .btnBox .swiperNB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(135deg);
}
.jyySwiper .btnBox .swiperPB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
}
@media (max-width: 992px) {
  .jyySwiper .btnBox {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .jyySwiper .imgBox .descBox {
    margin-top: 30px !important;
  }
  .jyySwiper .imgBox .descBox .moreBtn {
    position: absolute;
    left: 15px;
    bottom: -10px;
    transform: translateY(5px);
  }
}

.videoZone {
  margin-bottom: 96px;
}
.videoZone .video-foreground .main-player {
  width: 100%;
  height: 50vw;
}
.videoZone .video-foreground .descBox {
  color: #FFFEF1;
  bottom: 15%;
}
@media (max-width: 992px) {
  .videoZone .main-player {
    position: unset;
  }
  .videoZone .panna {
    font-size: 20px;
    color: #1B1B1B;
  }
}
@media (min-width: 992px) {
  .videoZone .descBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.BestSeller .bestProduct {
  text-align: center;
}
.BestSeller .bestProduct .productBox {
  max-width: 294px;
  min-width: 205px;
  font-family: "Noto Sans KR", sans-serif;
}
.BestSeller .bestProduct .productBox img {
  width: 100%;
}
.BestSeller .bestProduct .productBox .textBox {
  width: 100%;
}
.BestSeller .bestProduct .productBox .textBox .title {
  font-weight: 400;
  font-size: 18px !important;
}
.BestSeller .bestProduct .productBox .textBox .price {
  font-weight: 300;
  font-size: 18px !important;
}
.BestSeller .bestProduct .productBox .textBox .title,
.BestSeller .bestProduct .productBox .textBox .price {
  display: block;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.BestSeller .bestProduct .productBox .desc {
  font-size: 14px;
  display: block;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}
@media (max-width: 992px) {
  .BestSeller .productBox {
    padding: 0 !important;
  }
}

.osullocStory {
  color: #FFFEF1;
}
.osullocStory .bgblack {
  background-color: rgba(0, 0, 0, 0.3490196078);
  height: 100%;
}
.osullocStory .bgblack .storyTextBox {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.osullocStory .bgblack .storyTextBox .descP {
  width: 473px;
  margin: 0 auto;
}
.osullocStory .storyImg {
  background: url(/public/img/banner/osulloc22.jpg) 50% center no-repeat;
  height: 470px;
  width: auto;
}

.BestCategory {
  font-family: "Noto Sans KR", sans-serif;
}
.BestCategory .categoryBoxZone {
  margin: 5rem;
}
.BestCategory .categoryBoxZone .cateBox {
  min-height: 500px;
  max-height: 550px;
}
.BestCategory .categoryBoxZone .cateBox strong {
  font-size: 24px;
}
.BestCategory .categoryBoxZone .cateBox p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.BestCategory .categoryBoxZone .cateBox a {
  font-size: 1.2rem;
}
.BestCategory .categoryBoxZone .cateBox1 {
  background: url(/public/img/banner/osulloc39.jpg);
  background-size: cover;
  background-position: 30% 50%;
  background-repeat: no-repeat;
}
.BestCategory .categoryBoxZone .cateBox2 {
  background: url(/public/img/product/osulloc02.jpg);
  background-size: cover;
  background-position: 30% 0%;
  background-repeat: no-repeat;
}
.BestCategory .categoryBoxZone .cateBox3 {
  background: url(/public/img/banner/osulloc1_gift.jpg);
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .BestCategory {
    padding: 0;
  }
  .BestCategory .categoryBoxZone {
    margin: 0;
  }
  .BestCategory .categoryBoxZone .cateBox3 {
    background-position: 75%;
  }
}
@media (max-width: 740px) {
  .BestCategory {
    padding: 0;
  }
  .BestCategory .categoryBoxZone {
    margin: 0;
  }
  .BestCategory .categoryBoxZone .cateBox3 {
    background: url(/public/img/product/osulloc25.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
  }
}

footer {
  font-weight: 100;
  font-family: "NanumSquare", sans-serif;
  color: #FFFEF1;
  font-size: 14px;
}
footer span,
footer strong {
  display: block;
}
footer .leftDesc ul {
  width: 100%;
  font-size: 16px;
}
footer .leftDesc ul li {
  margin: 0 10px;
  width: auto;
}
footer .qnafooter .largeF {
  font-size: 23px;
}
@media (max-width: 992px) {
  footer .largeF {
    font-size: 21px;
  }
  footer .help {
    font-size: 15px;
    width: 50%;
  }
  footer .mail {
    width: 50%;
  }
}
@media (max-width: 600px) {
  footer .mail .largeF {
    font-size: 18px;
  }
  footer .adressdsec {
    font-size: 11px;
  }
}