@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "seolleimcool-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  list-style: none;
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 99999;
}

header {
  font-family: "seolleimcool-SemiBold";
  background-color: transparent;
  font-size: 20px;
  padding: 0.5rem;
  z-index: 999999;
  color: #1B1B1B;
}
header .navBtn {
  width: 35px;
  height: 30px;
  background: transparent;
  border: 0;
  position: relative;
}
header .navBtn i {
  position: absolute;
  z-index: 99999;
  background-color: #1B1B1B;
  display: block;
  width: 95%;
  height: 1.8px;
  transition: 0.5s;
  background-color: #FFFEF1;
}
header .navBtn i:nth-child(1) {
  top: 0;
}
header .navBtn i:nth-child(2) {
  top: 50%;
}
header .navBtn i:nth-child(3) {
  bottom: 0;
}
header .navBtn.act i:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
header .navBtn.act i:nth-child(2) {
  opacity: 0;
}
header .navBtn.act i:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
header ul {
  margin-bottom: 0;
}
header .navmn li {
  margin: 15px;
}
header .icoBox li {
  margin: 15px;
}
header .icoBox li img {
  width: 20px;
}
header .icoBox .userIco img {
  width: 24px;
}
@media (max-width: 992px) {
  header .navBtn i {
    background-color: #1B1B1B;
  }
  header .navmn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFFEF1;
    height: 500px;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
  }
  header .navmn.Bclick {
    min-height: 500px;
    padding: 5rem 2rem;
    width: 50%;
    opacity: 1;
  }
  header .navmn li {
    border-bottom: 1px solid #1B1B1B;
  }
  header .navmn li a {
    display: block;
    width: 100px;
  }
}

.jyySwiper {
  font-family: "Noto Sans KR", sans-serif;
}
.jyySwiper .imgBox img {
  width: 100%;
}
.jyySwiper .swiper-pagination {
  display: block;
  align-items: center;
  bottom: 16px !important;
}
.jyySwiper .swiper-pagination .dot {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: 2px solid #FFFEF1;
  background-color: #FFFEF1;
  opacity: 1;
}
.jyySwiper .swiper-pagination .swiper-pagination-bullet-active.dot {
  width: 13px;
  height: 13px;
  background-color: transparent;
  line-height: 5px;
}
.jyySwiper .descBox strong {
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 400;
}
.jyySwiper .descBox p {
  font-size: 20px;
  font-weight: 300;
}
.jyySwiper .btnBox .swiperNB,
.jyySwiper .btnBox .swiperPB {
  height: auto;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  align-items: center;
  display: flex;
  z-index: 99999;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
  color: #FFFEF1;
}
.jyySwiper .btnBox .swiperNB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(135deg);
}
.jyySwiper .btnBox .swiperPB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
}
@media (max-width: 992px) {
  .jyySwiper .btnBox {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .jyySwiper .imgBox .descBox {
    margin-top: 30px !important;
  }
  .jyySwiper .imgBox .descBox .moreBtn {
    position: absolute;
    left: 15px;
    bottom: -10px;
    transform: translateY(5px);
  }
}

.videoZone {
  margin-bottom: 96px;
}
.videoZone .video-foreground .main-player {
  width: 100%;
}
.videoZone .video-foreground .descBox {
  color: #FFFEF1;
  bottom: 15%;
}
footer {
  font-weight: 100;
  font-family: "NanumSquare", sans-serif;
  color: #FFFEF1;
  font-size: 14px;
}
footer span,
footer strong {
  display: block;
}
footer .leftDesc ul {
  font-size: 18px;
}
footer .leftDesc ul li {
  margin: 0 10px;
}
footer .qnafooter .largeF {
  font-size: 23px;
}
@media (max-width: 992px) {
  footer .largeF {
    font-size: 21px !important;
  }
  footer .help {
    font-size: 15px;
    width: 50%;
  }
  footer .mail {
    width: 50%;
  }
}
@media (max-width: 500px) {
  footer .mail .largeF {
    font-size: 18px !important;
  }
}