@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'DAEAM_LEE_TAE_JOON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


$seolFont: 'seolleimcool-SemiBold';
$Wcolor: #FFFEF1;
$Bcolor: #1B1B1B;
$krFont: "Noto Sans KR", sans-serif;
$nanumFont: "NanumSquare", sans-serif;
$dreamFont: 'DAEAM_LEE_TAE_JOON';

.mbt-100 {
    margin: 100px 0 !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    list-style: none;
}

.w-0 {
    width: 0;
    white-space: nowrap;
}

.zup {
    z-index: 999999999;
}

.small_font {
    font-size: 16px;
}

.B_small_font {
    font-size: 22px;
}

.containerjy {
    --bs-gutter-x: 10rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

/////////////////header zone/////////////////

header {
    transition: 0.5s;

    &:hover {
        background-color: #fff;
    }

    font-family: $seolFont;
    background-color: transparent;
    font-size: 20px;
    padding: 0.5rem;
    z-index: 999999;

    .navBtn {
        width: 35px;
        height: 30px;
        background: transparent;
        border: 0;
        position: relative;

        i {
            position: absolute;
            z-index: 99999;
            background-color: $Bcolor;
            display: block;
            width: 95%;
            height: 1.8px;
            transition: 0.5s;
            background-color: $Wcolor;


            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                bottom: 0;
            }

        }

        &.act {
            i {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }

        }


    }


    ul {
        margin-bottom: 0;
    }

    .backimg::after {
        content: "";
        background-image: url("../../public/img/banner/dadaLightPc_1.jpg");
        background-size: contain;
        width: 400px;
        height: 200px;
        position: absolute;
        z-index: 999999999;
        right: 100%;
        top: 0;
        display: block;
    }

    .d2li {
        position: relative;
    }

    .before {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 0;
            background-color: #fff;
            transition: 0.5s;
        }
    }


    .before:hover::before {
        height: 250px;
        border-bottom: 1px solid #ccc;
    }

    .bnimg {
        max-height: 0;
        transition: 0.5s;
        display: block;
        position: absolute;
        width: 400px;
        top: 120%;
        left: 20%;
        opacity: 0;
    }

    .navmn {

        li {
            margin: 15px;


            &:hover .bnimg {
                max-height: 186.6px;
                opacity: 1;
            }

            &:hover .d1a {

                color: #6C801A;

            }

            .d2ul {
                max-height: 0;
                overflow: hidden;
                left: 0;
                right: 0;
                top: 100%;
                transition: .5s;
                margin-left: 50vw;

                &:hover {
                    overflow: visible;
                }

                li {
                    font-family: $krFont;
                    font-size: 1.1rem;

                    &:hover a {
                        color: #6C801A;
                    }

                    .d3ul {
                        li {
                            margin: auto 0;
                        }
                    }
                }


            }
        }
    }

    .before:hover .d2ul {
        max-height: 300px;
    }

    .icoBox {
        li {
            margin: 15px;

            img {
                width: 20px;
            }
        }

        .userIco {
            img {
                width: 24px;
            }
        }

    }

    .imgbnr {
        left: 0;
        right: 0;
    }

    // 상단반응형
    @media (max-width: 1400px) {
        .d2ul {
            margin-left: 43vw !important;
        }

        .bnimg {
            left: 15%;
            width: 350px;
        }
    }

    @media (max-width: 1200px) {
        .d2ul {
            margin-left: 35vw !important;
        }

        .bnimg {
            left: 2%;
            width: 350px;
        }
    }

    @media (max-width: 992px) {

        .d2ul {
            max-height: unset !important;
        }

        .containerjy {
            --bs-gutter-x: 2rem;
        }

        .navBtn i {
            background-color: $Bcolor;
        }


        .navmn {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $Wcolor;
            height: 1000px;
            width: 0;
            overflow: hidden;
            padding: 0;
            transition: .5s;
            opacity: 0;

            &.Bclick {
                min-height: 500px;
                padding: 5rem 2rem;
                width: 50%;
                opacity: 1;
            }


            .d2ul {
                position: unset !important;
                margin-left: 0 !important;
                display: none;

                &.click {
                    display: block !important;
                }

                li {
                    margin: 0.5rem 0;
                    border: 0;

                }

            }


            li {
                border-bottom: 1px solid $Bcolor;

                a {
                    display: block;
                    max-width: 200px;
                }
            }

        }

    }

}

/////////////////////swiper////////////////////

// 공통스와이퍼
.swiper-pagination {
    display: block;
    align-items: center;
    bottom: 16px !important;

    .dot {
        font-size: 0;
        width: 8px;
        height: 8px;
        border: 2px solid $Wcolor;
        background-color: $Wcolor;
        opacity: 1;
    }

    .swiper-pagination-bullet-active.dot {
        width: 13px;
        height: 13px;
        background-color: transparent;
        line-height: 5px;
    }

}

.jyySwiper {
    font-family: $krFont;

    .imgBox {
        img {
            width: 100%;
        }
    }

    .descBox {
        strong {
            display: block;
            font-size: 35px;
            margin-bottom: 20px;
            font-weight: 400;
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }


    }

    .btnBox {

        .swiperNB,
        .swiperPB {
            height: auto;
            width: auto;
            margin: 0;
            padding: 4px 8px;
            align-items: center;
            display: flex;
            z-index: 99999;
            border: 0;
            background-color: transparent;
            transform: translateY(-50%);
            color: $Wcolor;
            // background-color: aquamarine;

        }

        .swiperNB::after {
            content: '';
            width: 30px;
            height: 30px;
            border: 2px solid $Wcolor;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(135deg);
        }

        .swiperPB::after {
            content: '';
            width: 30px;
            height: 30px;
            border: 2px solid $Wcolor;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(-45deg);
        }

    }

    @media (max-width:992px) {
        .btnBox {
            display: none !important;
        }

    }

    @media (min-width: 993px) {

        .imgBox {
            .descBox {
                margin-top: 30px !important;

                .moreBtn {
                    position: absolute;
                    left: 15px;
                    bottom: -10px;
                    transform: translateY(5px);

                }
            }

        }
    }

}

/////////////////Mov///////////////////////

.videoZone {
    margin-bottom: 96px;

    .video-foreground {

        .main-player {
            width: 100%;
            height: 50vw
        }

        .descBox {
            color: $Wcolor;
            bottom: 15%;

        }
    }

    @media (max-width:992px) {
        .main-player {
            position: unset;
        }

        .panna {
            font-size: 20px;
            color: #1B1B1B;
        }
    }

    @media (min-width:992px) {
        .descBox {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}


///////////////////BestSeller//////////////////

.BestSeller {

    @media (max-width:992px) {

        .productBox {
            padding: 0 !important;

        }
    }

}

.productBox {
    // min-width: 280px;
    max-width: 294px;
    min-width: 205px;
    font-family: $krFont;

    img {
        width: 100%;
    }

    .textBox {
        width: 100%;

        .title {
            font-weight: 400;
            font-size: 18px !important;
        }

        .price {
            font-weight: 300;
            font-size: 18px !important;
        }

        .title,
        .price {
            display: block;
            width: 100%;
            font-size: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .desc {
        font-size: 14px;
        display: block;
        width: 100%;
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 300;
    }

}


//////////////////osullocStory//////////////////

.osullocStory {
    overflow-x: hidden;
    color: $Wcolor;

    .bgblack {
        background-color: #00000059;
        height: 100%;

        .storyTextBox {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);

            .descP {
                width: 473px;
                margin: 0 auto;
            }
        }
    }

    .storyImg {
        background: url(/public/img/banner/osulloc22.jpg) 50% center no-repeat;
        height: 470px;
        width: auto;
    }

}

/////////////BestCategory////////////////////
.BestCategory {
    font-family: $krFont;

    .categoryBoxZone {
        margin: 5rem;

        .cateBox {
            min-height: 500px;
            max-height: 550px;

            strong {
                font-size: 24px;
            }

            p {
                font-size: 1.1rem;
                margin: 1rem 0;
            }

            a {
                font-size: 1.2rem;

                &:hover {
                    color: #6C801A;
                }
            }

        }


        .cateBox1 {
            background: url(/public/img/banner/osulloc39.jpg);
            background-size: cover;
            background-position: 30% 50%;
            background-repeat: no-repeat;
        }

        .cateBox2 {
            background: url(/public/img/product/osulloc02.jpg);
            background-size: cover;
            background-position: 30% 0%;
            background-repeat: no-repeat;
        }

        .cateBox3 {
            background: url(/public/img/banner/osulloc1_gift.jpg);
            background-size: cover;
            background-position: 50% 10%;
            background-repeat: no-repeat;
        }
    }

    @media (max-width:992px) {
        padding: 0;

        .categoryBoxZone {
            margin: 0;

            .cateBox3 {
                background-position: 75%;
            }
        }
    }

    @media (max-width:740px) {
        padding: 0;

        .categoryBoxZone {
            margin: 0;

            .cateBox3 {
                background: url(/public/img/product/osulloc25.png);
                background-repeat: no-repeat;
                background-position: 50% 10%;
            }
        }
    }

}

//////////////////OsllcocLocation/////////////////

.OsllcocLocation {

    .mySwiper {
        color: $Wcolor;


        .textBox {
            transform: translate(10%, 80%);
            transition: 0.5s;
            opacity: 0.7;
        }

        strong {
            font-family: $seolFont;
            font-size: 1.6rem;
        }

        a {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            width: 480px;
            height: 370px;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
        }

        .swiper-slide-active {

            a {
                width: 520px;
                height: 390px;
            }

            .textBox {
                transform: translate(10%, 60%);
                opacity: 1;
            }
        }

        p {
            font-family: $krFont;
            font-size: 1.3rem;
        }
    }

    .btnBox {

        .swiperNB,
        .swiperPB {
            height: auto;
            width: auto;
            margin: 0;
            padding: 4px 8px;
            align-items: center;
            display: flex;
            z-index: 99999;
            border: 0;
            background-color: transparent;
            transform: translateY(-50%);
        }

        .swiperNB::after {
            content: '';
            width: 30px;
            height: 30px;
            border: 2px solid $Bcolor;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(135deg);
        }

        .swiperPB::after {
            content: '';
            width: 30px;
            height: 30px;
            border: 2px solid $Bcolor;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(-45deg);
        }

    }

    @media (max-width:770px) {

        .swiperNB::after,
        .swiperPB::after {
            display: none;
        }
    }

    @media (min-width:992px) {

        .swiperNB::after {
            border: 2px solid $Wcolor !important;
            border-right: 0 !important;
            border-bottom: 0 !important;
        }

        .swiperPB::after {
            border: 2px solid $Wcolor !important;
            border-right: 0 !important;
            border-bottom: 0 !important;
        }
    }
}

//////////////// subscriptZone//////////////

.subscriptZone {
    overflow-x: hidden;

    .subscriptBnr {
        font-family: 'DAEAM_LEE_TAE_JOON';
        background-image: url("/public/img/banner/main_banner_pc_1.png");
        width: auto;
        height: 660px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

        .subText {
            transform: translate(6rem, 8rem);

            .subLogo {
                background-image: url("/public/img/logo/logo.png");
                width: 108px;
                height: 221px;
                background-repeat: no-repeat;
                margin: 0 1rem 2rem;
            }

            .title {
                font-size: 30px;
                margin: 1rem;
            }

            .descP {
                font-size: 1.2rem;
                margin: 1rem;
            }
        }
    }

    .subscriptBnrsm {
        font-family: 'DAEAM_LEE_TAE_JOON';
        background-image: url("/public/img/mobile/mobile0.png");
        width: auto;
        height: 900px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

        .subText {

            .subLogo {
                background-image: url("/public/img/logo/logo.png");
                width: 108px;
                height: 221px;
                background-repeat: no-repeat;
                top: 53%;
            }

            .title {
                font-size: 25px;
                margin: 1rem;
            }

            .descP {
                font-size: 1rem;
                margin: 1rem;
            }
        }
    }
}

/////////////////footer////////////////////////

footer {
    font-weight: 100;
    font-family: $nanumFont;
    color: $Wcolor;
    font-size: 14px;

    span,
    strong {
        display: block;
    }

    .leftDesc {
        ul {
            width: 100%;
            font-size: 16px;

            li {
                margin: 0 10px;
                width: auto;
            }
        }
    }

    .qnafooter {
        .largeF {
            font-size: 23px;
        }
    }


    @media (max-width:992px) {

        .largeF {
            font-size: 21px;
        }

        .help {
            font-size: 15px;
            width: 50%;
        }

        .mail {
            width: 50%;
        }
    }

    @media (max-width:600px) {
        .mail {
            .largeF {
                font-size: 18px;
            }
        }

        .adressdsec {
            font-size: 11px;
        }
    }
}

//모바일 반응형
@media (max-width:600px) {

    .jyySwiper,
    .OsllcocLocation {

        strong {
            font-size: 25px !important;
        }

        p {
            font-size: 18px !important;
        }


        .moreBtn {
            margin: unset !important;
        }
    }

    .videoZone,
    .BestSeller,
    .osullocStory,
    .BestCategory,
    .OsllcocLocation,
    .subscriptZone {
        h2 {
            font-size: 30px;
        }

        .smT {
            font-size: 20px;
            margin: 1.5rem;
        }
    }

    .OsllcocLocation,
    .BestCategory {
        strong {
            font-size: 1.4rem !important;
        }

        p {
            font-size: 1.2rem !important;
        }
    }

    .BestCategory {
        strong {
            font-size: 1.2rem !important;
        }

        p {
            font-size: 1rem !important;
        }

        a {
            font-size: 1.1rem !important;
        }
    }
}


@media (max-width:450px) {

    .BestCategory,
    .jyySwiper,
    .videoZone,
    .BestSeller,
    .osullocStory,
    .BestCategory,
    .OsllcocLocation,
    .subscriptZone {
        margin-bottom: 70px !important;
    }

    .videoZone {
        margin-top: 70px !important;
    }


    .jyySwiper {
        .imgBox {
            strong {
                font-size: 19px;
            }

            p {
                font-size: 15px;
            }
        }

        .moreBtn {
            margin: unset !important;
        }
    }

    .videoZone,
    .BestSeller,
    .osullocStory,
    .BestCategory,
    .subscriptZone {
        h2 {
            font-size: 25px;
        }

        .smT {
            font-size: 17px;
            margin: 1rem !important;
        }
    }

    .BestSeller {
        .bestProduct {
            .productBox {
                margin: 0 auto;
            }
        }
    }

    .osullocStory {
        .descP {
            font-size: 15px !important;
        }
    }

    .BestCategory {
        strong {
            font-size: 18px !important;
        }

        p {
            font-size: 15px !important;
        }

        a {
            font-size: 16px !important;
        }
    }

    .OsllcocLocation {
        .descP {
            font-size: 18px;

        }

        strong {
            font-size: 22px !important;
        }

        p {
            font-size: 18px !important;
        }
    }

    .subscriptZone {
        .title {
            font-size: 21px !important;
        }
    }

}

//서브페이지
//이벤트
.o_event {
    font-family: $krFont;

    .eventIcon {
        width: 60px;
    }

    .racipeArea,
    .togetherPd,
    .review {
        h3::before {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #CE7978;
            border-radius: 50%;
            display: block;
            margin-right: 0.5rem;
        }

        p {
            font-size: 1.1rem;
            font-weight: 400;
        }

        span {
            font-size: 1.1rem;
            display: inline-block;
        }

        .number {
            margin-right: 0.5rem;
        }

        .smT {
            font-size: 1.4rem;
        }

        .smTen {
            font-size: 1rem;
            font-weight: 300;
        }

        li {
            margin: 1rem 0;
        }
    }

    .imgur {
        img {
            width: 450px;
        }

    }

    .gotoPd {
        width: 320px;

        span,
        p {
            font-size: 1.4rem;
            margin: 0.2rem 0;
        }
    }

    a.abtn {
        font-size: 1.2rem;
        transition: .5s;

        &:hover {
            color: #6C801A;
            border-color: #6C801A !important;
        }
    }

    .review {
        .reveiwIcon {
            width: 40px;
        }
    }

    .reviewSwiper {

        .imgBox {

            img {
                width: 380px;
                height: 295px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                object-fit: cover;
            }
        }

        .textBox {
            background-color: #ACBEA9;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        strong {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

//shop_best
.shopBest,
.shop {
    margin-top: 76.8px;
    font-family: $krFont;

    h2 {
        font-weight: 600 !important;
    }

    .back_img {
        width: 100vw;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .bestnum {
        width: 30px;
        height: 30px;
        display: block;
        background-color: #5A7E62;
        color: white;
    }


}

.category {
    li {
        border-radius: 20px;
        background-color: #5A7E62;
        color: white;
        width: 70px;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0.8rem;
    }
}

.bestnum2 {
    width: 30px;
    height: 30px;
    display: block;
    background-color: #f88f75;
    color: white;
}