@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "seolleimcool-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DAEAM_LEE_TAE_JOON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.mbt-100 {
  margin: 100px 0 !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  list-style: none;
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 999999999;
}

.small_font {
  font-size: 16px;
}

.B_small_font {
  font-size: 22px;
}

.containerjy {
  --bs-gutter-x: 10rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

header {
  transition: 0.5s;
  font-family: "seolleimcool-SemiBold";
  background-color: transparent;
  font-size: 20px;
  padding: 0.5rem;
  z-index: 999999;
}
header:hover {
  background-color: #fff;
}
header .navBtn {
  width: 35px;
  height: 30px;
  background: transparent;
  border: 0;
  position: relative;
}
header .navBtn i {
  position: absolute;
  z-index: 99999;
  background-color: #1B1B1B;
  display: block;
  width: 95%;
  height: 1.8px;
  transition: 0.5s;
  background-color: #FFFEF1;
}
header .navBtn i:nth-child(1) {
  top: 0;
}
header .navBtn i:nth-child(2) {
  top: 50%;
}
header .navBtn i:nth-child(3) {
  bottom: 0;
}
header .navBtn.act i:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
header .navBtn.act i:nth-child(2) {
  opacity: 0;
}
header .navBtn.act i:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
header ul {
  margin-bottom: 0;
}
header .backimg::after {
  content: "";
  background-image: url("../../public/img/banner/dadaLightPc_1.jpg");
  background-size: contain;
  width: 400px;
  height: 200px;
  position: absolute;
  z-index: 999999999;
  right: 100%;
  top: 0;
  display: block;
}
header .d2li {
  position: relative;
}
header .before::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0;
  background-color: #fff;
  transition: 0.5s;
}
header .before:hover::before {
  height: 250px;
  border-bottom: 1px solid #ccc;
}
header .bnimg {
  max-height: 0;
  transition: 0.5s;
  display: block;
  position: absolute;
  width: 400px;
  top: 120%;
  left: 20%;
  opacity: 0;
}
header .navmn li {
  margin: 15px;
}
header .navmn li:hover .bnimg {
  max-height: 186.6px;
  opacity: 1;
}
header .navmn li:hover .d1a {
  color: #6C801A;
}
header .navmn li .d2ul {
  max-height: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 100%;
  transition: 0.5s;
  margin-left: 50vw;
}
header .navmn li .d2ul:hover {
  overflow: visible;
}
header .navmn li .d2ul li {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.1rem;
}
header .navmn li .d2ul li:hover a {
  color: #6C801A;
}
header .navmn li .d2ul li .d3ul li {
  margin: auto 0;
}
header .before:hover .d2ul {
  max-height: 300px;
}
header .icoBox li {
  margin: 15px;
}
header .icoBox li img {
  width: 20px;
}
header .icoBox .userIco img {
  width: 24px;
}
header .imgbnr {
  left: 0;
  right: 0;
}
@media (max-width: 1400px) {
  header .d2ul {
    margin-left: 43vw !important;
  }
  header .bnimg {
    left: 15%;
    width: 350px;
  }
}
@media (max-width: 1200px) {
  header .d2ul {
    margin-left: 35vw !important;
  }
  header .bnimg {
    left: 2%;
    width: 350px;
  }
}
@media (max-width: 992px) {
  header .d2ul {
    max-height: unset !important;
  }
  header .containerjy {
    --bs-gutter-x: 2rem;
  }
  header .navBtn i {
    background-color: #1B1B1B;
  }
  header .navmn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFFEF1;
    height: 1000px;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
  }
  header .navmn.Bclick {
    min-height: 500px;
    padding: 5rem 2rem;
    width: 50%;
    opacity: 1;
  }
  header .navmn .d2ul {
    position: unset !important;
    margin-left: 0 !important;
    display: none;
  }
  header .navmn .d2ul.click {
    display: block !important;
  }
  header .navmn .d2ul li {
    margin: 0.5rem 0;
    border: 0;
  }
  header .navmn li {
    border-bottom: 1px solid #1B1B1B;
  }
  header .navmn li a {
    display: block;
    max-width: 200px;
  }
}

.swiper-pagination {
  display: block;
  align-items: center;
  bottom: 16px !important;
}
.swiper-pagination .dot {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: 2px solid #FFFEF1;
  background-color: #FFFEF1;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active.dot {
  width: 13px;
  height: 13px;
  background-color: transparent;
  line-height: 5px;
}

.jyySwiper {
  font-family: "Noto Sans KR", sans-serif;
}
.jyySwiper .imgBox img {
  width: 100%;
}
.jyySwiper .descBox strong {
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 400;
}
.jyySwiper .descBox p {
  font-size: 20px;
  font-weight: 300;
}
.jyySwiper .btnBox .swiperNB,
.jyySwiper .btnBox .swiperPB {
  height: auto;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  align-items: center;
  display: flex;
  z-index: 99999;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
  color: #FFFEF1;
}
.jyySwiper .btnBox .swiperNB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(135deg);
}
.jyySwiper .btnBox .swiperPB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #FFFEF1;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
}
@media (max-width: 992px) {
  .jyySwiper .btnBox {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .jyySwiper .imgBox .descBox {
    margin-top: 30px !important;
  }
  .jyySwiper .imgBox .descBox .moreBtn {
    position: absolute;
    left: 15px;
    bottom: -10px;
    transform: translateY(5px);
  }
}

.videoZone {
  margin-bottom: 96px;
}
.videoZone .video-foreground .main-player {
  width: 100%;
  height: 50vw;
}
.videoZone .video-foreground .descBox {
  color: #FFFEF1;
  bottom: 15%;
}
@media (max-width: 992px) {
  .videoZone .main-player {
    position: unset;
  }
  .videoZone .panna {
    font-size: 20px;
    color: #1B1B1B;
  }
}
@media (min-width: 992px) {
  .videoZone .descBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  .BestSeller .productBox {
    padding: 0 !important;
  }
}

.productBox {
  max-width: 294px;
  min-width: 205px;
  font-family: "Noto Sans KR", sans-serif;
}
.productBox img {
  width: 100%;
}
.productBox .textBox {
  width: 100%;
}
.productBox .textBox .title {
  font-weight: 400;
  font-size: 18px !important;
}
.productBox .textBox .price {
  font-weight: 300;
  font-size: 18px !important;
}
.productBox .textBox .title,
.productBox .textBox .price {
  display: block;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.productBox .desc {
  font-size: 14px;
  display: block;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}

.osullocStory {
  overflow-x: hidden;
  color: #FFFEF1;
}
.osullocStory .bgblack {
  background-color: rgba(0, 0, 0, 0.3490196078);
  height: 100%;
}
.osullocStory .bgblack .storyTextBox {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.osullocStory .bgblack .storyTextBox .descP {
  width: 473px;
  margin: 0 auto;
}
.osullocStory .storyImg {
  background: url(/public/img/banner/osulloc22.jpg) 50% center no-repeat;
  height: 470px;
  width: auto;
}

.BestCategory {
  font-family: "Noto Sans KR", sans-serif;
}
.BestCategory .categoryBoxZone {
  margin: 5rem;
}
.BestCategory .categoryBoxZone .cateBox {
  min-height: 500px;
  max-height: 550px;
}
.BestCategory .categoryBoxZone .cateBox strong {
  font-size: 24px;
}
.BestCategory .categoryBoxZone .cateBox p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.BestCategory .categoryBoxZone .cateBox a {
  font-size: 1.2rem;
}
.BestCategory .categoryBoxZone .cateBox a:hover {
  color: #6C801A;
}
.BestCategory .categoryBoxZone .cateBox1 {
  background: url(/public/img/banner/osulloc39.jpg);
  background-size: cover;
  background-position: 30% 50%;
  background-repeat: no-repeat;
}
.BestCategory .categoryBoxZone .cateBox2 {
  background: url(/public/img/product/osulloc02.jpg);
  background-size: cover;
  background-position: 30% 0%;
  background-repeat: no-repeat;
}
.BestCategory .categoryBoxZone .cateBox3 {
  background: url(/public/img/banner/osulloc1_gift.jpg);
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .BestCategory {
    padding: 0;
  }
  .BestCategory .categoryBoxZone {
    margin: 0;
  }
  .BestCategory .categoryBoxZone .cateBox3 {
    background-position: 75%;
  }
}
@media (max-width: 740px) {
  .BestCategory {
    padding: 0;
  }
  .BestCategory .categoryBoxZone {
    margin: 0;
  }
  .BestCategory .categoryBoxZone .cateBox3 {
    background: url(/public/img/product/osulloc25.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
  }
}

.OsllcocLocation .mySwiper {
  color: #FFFEF1;
}
.OsllcocLocation .mySwiper .textBox {
  transform: translate(10%, 80%);
  transition: 0.5s;
  opacity: 0.7;
}
.OsllcocLocation .mySwiper strong {
  font-family: "seolleimcool-SemiBold";
  font-size: 1.6rem;
}
.OsllcocLocation .mySwiper a {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 480px;
  height: 370px;
}
.OsllcocLocation .mySwiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.OsllcocLocation .mySwiper .swiper-slide-active a {
  width: 520px;
  height: 390px;
}
.OsllcocLocation .mySwiper .swiper-slide-active .textBox {
  transform: translate(10%, 60%);
  opacity: 1;
}
.OsllcocLocation .mySwiper p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
}
.OsllcocLocation .btnBox .swiperNB,
.OsllcocLocation .btnBox .swiperPB {
  height: auto;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  align-items: center;
  display: flex;
  z-index: 99999;
  border: 0;
  background-color: transparent;
  transform: translateY(-50%);
}
.OsllcocLocation .btnBox .swiperNB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #1B1B1B;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(135deg);
}
.OsllcocLocation .btnBox .swiperPB::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #1B1B1B;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
}
@media (max-width: 770px) {
  .OsllcocLocation .swiperNB::after,
  .OsllcocLocation .swiperPB::after {
    display: none;
  }
}
@media (min-width: 992px) {
  .OsllcocLocation .swiperNB::after {
    border: 2px solid #FFFEF1 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
  }
  .OsllcocLocation .swiperPB::after {
    border: 2px solid #FFFEF1 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
  }
}

.subscriptZone {
  overflow-x: hidden;
}
.subscriptZone .subscriptBnr {
  font-family: "DAEAM_LEE_TAE_JOON";
  background-image: url("/public/img/banner/main_banner_pc_1.png");
  width: auto;
  height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.subscriptZone .subscriptBnr .subText {
  transform: translate(6rem, 8rem);
}
.subscriptZone .subscriptBnr .subText .subLogo {
  background-image: url("/public/img/logo/logo.png");
  width: 108px;
  height: 221px;
  background-repeat: no-repeat;
  margin: 0 1rem 2rem;
}
.subscriptZone .subscriptBnr .subText .title {
  font-size: 30px;
  margin: 1rem;
}
.subscriptZone .subscriptBnr .subText .descP {
  font-size: 1.2rem;
  margin: 1rem;
}
.subscriptZone .subscriptBnrsm {
  font-family: "DAEAM_LEE_TAE_JOON";
  background-image: url("/public/img/mobile/mobile0.png");
  width: auto;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.subscriptZone .subscriptBnrsm .subText .subLogo {
  background-image: url("/public/img/logo/logo.png");
  width: 108px;
  height: 221px;
  background-repeat: no-repeat;
  top: 53%;
}
.subscriptZone .subscriptBnrsm .subText .title {
  font-size: 25px;
  margin: 1rem;
}
.subscriptZone .subscriptBnrsm .subText .descP {
  font-size: 1rem;
  margin: 1rem;
}

footer {
  font-weight: 100;
  font-family: "NanumSquare", sans-serif;
  color: #FFFEF1;
  font-size: 14px;
}
footer span,
footer strong {
  display: block;
}
footer .leftDesc ul {
  width: 100%;
  font-size: 16px;
}
footer .leftDesc ul li {
  margin: 0 10px;
  width: auto;
}
footer .qnafooter .largeF {
  font-size: 23px;
}
@media (max-width: 992px) {
  footer .largeF {
    font-size: 21px;
  }
  footer .help {
    font-size: 15px;
    width: 50%;
  }
  footer .mail {
    width: 50%;
  }
}
@media (max-width: 600px) {
  footer .mail .largeF {
    font-size: 18px;
  }
  footer .adressdsec {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .jyySwiper strong,
  .OsllcocLocation strong {
    font-size: 25px !important;
  }
  .jyySwiper p,
  .OsllcocLocation p {
    font-size: 18px !important;
  }
  .jyySwiper .moreBtn,
  .OsllcocLocation .moreBtn {
    margin: unset !important;
  }
  .videoZone h2,
  .BestSeller h2,
  .osullocStory h2,
  .BestCategory h2,
  .OsllcocLocation h2,
  .subscriptZone h2 {
    font-size: 30px;
  }
  .videoZone .smT,
  .BestSeller .smT,
  .osullocStory .smT,
  .BestCategory .smT,
  .OsllcocLocation .smT,
  .subscriptZone .smT {
    font-size: 20px;
    margin: 1.5rem;
  }
  .OsllcocLocation strong,
  .BestCategory strong {
    font-size: 1.4rem !important;
  }
  .OsllcocLocation p,
  .BestCategory p {
    font-size: 1.2rem !important;
  }
  .BestCategory strong {
    font-size: 1.2rem !important;
  }
  .BestCategory p {
    font-size: 1rem !important;
  }
  .BestCategory a {
    font-size: 1.1rem !important;
  }
}
@media (max-width: 450px) {
  .BestCategory,
  .jyySwiper,
  .videoZone,
  .BestSeller,
  .osullocStory,
  .BestCategory,
  .OsllcocLocation,
  .subscriptZone {
    margin-bottom: 70px !important;
  }
  .videoZone {
    margin-top: 70px !important;
  }
  .jyySwiper .imgBox strong {
    font-size: 19px;
  }
  .jyySwiper .imgBox p {
    font-size: 15px;
  }
  .jyySwiper .moreBtn {
    margin: unset !important;
  }
  .videoZone h2,
  .BestSeller h2,
  .osullocStory h2,
  .BestCategory h2,
  .subscriptZone h2 {
    font-size: 25px;
  }
  .videoZone .smT,
  .BestSeller .smT,
  .osullocStory .smT,
  .BestCategory .smT,
  .subscriptZone .smT {
    font-size: 17px;
    margin: 1rem !important;
  }
  .BestSeller .bestProduct .productBox {
    margin: 0 auto;
  }
  .osullocStory .descP {
    font-size: 15px !important;
  }
  .BestCategory strong {
    font-size: 18px !important;
  }
  .BestCategory p {
    font-size: 15px !important;
  }
  .BestCategory a {
    font-size: 16px !important;
  }
  .OsllcocLocation .descP {
    font-size: 18px;
  }
  .OsllcocLocation strong {
    font-size: 22px !important;
  }
  .OsllcocLocation p {
    font-size: 18px !important;
  }
  .subscriptZone .title {
    font-size: 21px !important;
  }
}
.o_event {
  font-family: "Noto Sans KR", sans-serif;
}
.o_event .eventIcon {
  width: 60px;
}
.o_event .racipeArea h3::before,
.o_event .togetherPd h3::before,
.o_event .review h3::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #CE7978;
  border-radius: 50%;
  display: block;
  margin-right: 0.5rem;
}
.o_event .racipeArea p,
.o_event .togetherPd p,
.o_event .review p {
  font-size: 1.1rem;
  font-weight: 400;
}
.o_event .racipeArea span,
.o_event .togetherPd span,
.o_event .review span {
  font-size: 1.1rem;
  display: inline-block;
}
.o_event .racipeArea .number,
.o_event .togetherPd .number,
.o_event .review .number {
  margin-right: 0.5rem;
}
.o_event .racipeArea .smT,
.o_event .togetherPd .smT,
.o_event .review .smT {
  font-size: 1.4rem;
}
.o_event .racipeArea .smTen,
.o_event .togetherPd .smTen,
.o_event .review .smTen {
  font-size: 1rem;
  font-weight: 300;
}
.o_event .racipeArea li,
.o_event .togetherPd li,
.o_event .review li {
  margin: 1rem 0;
}
.o_event .imgur img {
  width: 450px;
}
.o_event .gotoPd {
  width: 320px;
}
.o_event .gotoPd span,
.o_event .gotoPd p {
  font-size: 1.4rem;
  margin: 0.2rem 0;
}
.o_event a.abtn {
  font-size: 1.2rem;
  transition: 0.5s;
}
.o_event a.abtn:hover {
  color: #6C801A;
  border-color: #6C801A !important;
}
.o_event .review .reveiwIcon {
  width: 40px;
}
.o_event .reviewSwiper .imgBox img {
  width: 380px;
  height: 295px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.o_event .reviewSwiper .textBox {
  background-color: #ACBEA9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.o_event .reviewSwiper strong {
  font-size: 1.2rem;
  font-weight: 400;
}

.shopBest,
.shop {
  margin-top: 76.8px;
  font-family: "Noto Sans KR", sans-serif;
}
.shopBest h2,
.shop h2 {
  font-weight: 600 !important;
}
.shopBest .back_img,
.shop .back_img {
  width: 100vw;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.shopBest .bestnum,
.shop .bestnum {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #5A7E62;
  color: white;
}

.category li {
  border-radius: 20px;
  background-color: #5A7E62;
  color: white;
  width: 70px;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.8rem;
}

.bestnum2 {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #f88f75;
  color: white;
}